<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXHyponNerd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27B96D031C834A72007E69D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27B96D1C1C834A72007E69D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27B96D271C834A72007E69D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
